<footer>
	<div class="footer">
		<div class="logo">
			<span class="logo__lastname">Mineskko</span> <br>
			<span class="logo__firstname">
				<span class="clr--red">S</span>
				<span>v</span>
				<span>e</span>
				<span>t</span>
				<span>l</span>
				<span>a</span>
				<span>n</span>
				<span>a</span>
			</span>
		</div>
		<span class="footer__desc">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore porro facere hic sed aspernatur molestias ipsa natus necessitatibus. Quia sed libero recusandae corrupti odio similique vel error eos, aliquid dolor!
		</span>
		<div class="footer__container">
		<ul class="contact__socials">
			<li><a href="#"><i class="fa fa-vk"></i></a></li>
			<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-youtube"></i></a></li>
		</ul>
		<div class="copy">разработка сайта: <a href="http://one-team.net.ua/">one-team</a></div>
		</div>
	</div>
</footer>