<div class="content">
	<h1>
		<span class="content__head">Коллекции</span>
	</h1>

	<div class="content__wrap">
		<div class="content__block--full">
			<div class="content__img content__img--galery">
				<div class="carousel carousel--galery">
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/1.jpg">
							<img class="lazyOwl" src="./images/collection-wedding-dresses/1.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/2.jpg">
							<img class="lazyOwl" data-src="./images/collection-wedding-dresses/2.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/3.jpg">
							<img class="lazyOwl" data-src="./images/collection-wedding-dresses/3.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/4.jpg">
							<img class="lazyOwl" data-src="./images/collection-wedding-dresses/4.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/5.jpg">
							<img class="lazyOwl" data-src="./images/collection-wedding-dresses/5.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/6.jpg">
							<img class="lazyOwl" data-src="./images/collection-wedding-dresses/6.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/7.jpg">
							<img class="lazyOwl" data-src="./images/collection-wedding-dresses/7.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/8.jpg">
							<img class="lazyOwl" data-src="./images/collection-wedding-dresses/8.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/9.jpg">
							<img class="lazyOwl" data-src="./images/collection-wedding-dresses/9.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/10.jpg">
							<img class="lazyOwl" data-src="./images/collection-wedding-dresses/10.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/11.jpg">
							<img class="lazyOwl" data-src="./images/collection-wedding-dresses/11.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/12.jpg">
							<img class="lazyOwl" data-src="./images/collection-wedding-dresses/12.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/13.jpg">
							<img class="lazyOwl" data-src="./images/collection-wedding-dresses/13.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/14.jpg">
							<img class="lazyOwl" data-src="./images/collection-wedding-dresses/14.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/15.jpg">
							<img class="lazyOwl" data-src="./images/collection-wedding-dresses/15.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-wedding-dresses" href="./images/collection-wedding-dresses/16.jpg">
							<img class="lazyOwl" data-src="./images/collection-wedding-dresses/16.jpg" alt="foto">
						</a>
					</div>
				</div>
			</div>
			<div class="content__text">
				<div class="content__title">Свадебные платья</div>
				<div class="content__desc">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fugit nemo voluptatem sequi doloribus beatae provident, molestias, illum, molestiae tenetur nesciunt! Sunt autem quo, reiciendis accusamus id deleniti ullam doloremque!
					</p>
				</div>
				<!-- <div class="content__more">
					<a class="content__link" href="#">сделать заказ</a>
				</div> -->
			</div>
		</div>

		<div class="content__block--full">
			<div class="content__img content__img--galery">
				<div class="carousel carousel--galery">
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/1.jpg">
							<img class="lazyOwl" src="./images/collection-outerwear/1.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/2.jpg">
							<img class="lazyOwl" data-src="./images/collection-outerwear/2.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/3.jpg">
							<img class="lazyOwl" data-src="./images/collection-outerwear/3.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/4.jpg">
							<img class="lazyOwl" data-src="./images/collection-outerwear/4.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/5.jpg">
							<img class="lazyOwl" data-src="./images/collection-outerwear/5.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/6.jpg">
							<img class="lazyOwl" data-src="./images/collection-outerwear/6.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/7.jpg">
							<img class="lazyOwl" data-src="./images/collection-outerwear/7.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/8.jpg">
							<img class="lazyOwl" data-src="./images/collection-outerwear/8.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/9.jpg">
							<img class="lazyOwl" data-src="./images/collection-outerwear/9.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/10.jpg">
							<img class="lazyOwl" data-src="./images/collection-outerwear/10.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/11.jpg">
							<img class="lazyOwl" data-src="./images/collection-outerwear/11.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/12.jpg">
							<img class="lazyOwl" data-src="./images/collection-outerwear/12.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/13.jpg">
							<img class="lazyOwl" data-src="./images/collection-outerwear/13.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/14.jpg">
							<img class="lazyOwl" data-src="./images/collection-outerwear/14.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/15.jpg">
							<img class="lazyOwl" data-src="./images/collection-outerwear/15.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-outerwear" href="./images/collection-outerwear/16.jpg">
							<img class="lazyOwl" data-src="./images/collection-outerwear/16.jpg" alt="foto">
						</a>
					</div>
				</div>
			</div>
			<div class="content__text">
				<div class="content__title">Верхняя одежда</div>
				<div class="content__desc">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fugit nemo voluptatem sequi doloribus beatae provident, molestias, illum, molestiae tenetur nesciunt! Sunt autem quo, reiciendis accusamus id deleniti ullam doloremque!
					</p>
				</div>
				<!-- <div class="content__more">
					<a class="content__link" href="#">сделать заказ</a>
				</div> -->
			</div>
		</div>
	</div>

	<div class="content__wrap">
		<div class="content__block--full">
			<div class="content__img content__img--galery">
				<div class="carousel carousel--galery">
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/1.jpg">
							<img class="lazyOwl" src="./images/collection-womens-clothing/1.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/2.jpg">
							<img class="lazyOwl" data-src="./images/collection-womens-clothing/2.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/3.jpg">
							<img class="lazyOwl" data-src="./images/collection-womens-clothing/3.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/4.jpg">
							<img class="lazyOwl" data-src="./images/collection-womens-clothing/4.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/5.jpg">
							<img class="lazyOwl" data-src="./images/collection-womens-clothing/5.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/6.jpg">
							<img class="lazyOwl" data-src="./images/collection-womens-clothing/6.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/7.jpg">
							<img class="lazyOwl" data-src="./images/collection-womens-clothing/7.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/8.jpg">
							<img class="lazyOwl" data-src="./images/collection-womens-clothing/8.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/9.jpg">
							<img class="lazyOwl" data-src="./images/collection-womens-clothing/9.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/10.jpg">
							<img class="lazyOwl" data-src="./images/collection-womens-clothing/10.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/11.jpg">
							<img class="lazyOwl" data-src="./images/collection-womens-clothing/11.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/12.jpg">
							<img class="lazyOwl" data-src="./images/collection-womens-clothing/12.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/13.jpg">
							<img class="lazyOwl" data-src="./images/collection-womens-clothing/13.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/14.jpg">
							<img class="lazyOwl" data-src="./images/collection-womens-clothing/14.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/15.jpg">
							<img class="lazyOwl" data-src="./images/collection-womens-clothing/15.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-womens-clothing" href="./images/collection-womens-clothing/16.jpg">
							<img class="lazyOwl" data-src="./images/collection-womens-clothing/16.jpg" alt="foto">
						</a>
					</div>
				</div>
			</div>
			<div class="content__text">
				<div class="content__title">Женская одежда</div>
				<div class="content__desc">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fugit nemo voluptatem sequi doloribus beatae provident, molestias, illum, molestiae tenetur nesciunt! Sunt autem quo, reiciendis accusamus id deleniti ullam doloremque!
					</p>
				</div>
				<!-- <div class="content__more">
					<a class="content__link" href="#">сделать заказ</a>
				</div> -->
			</div>
		</div>
		<div class="content__block--full">
			<div class="content__img content__img--galery">
				<div class="carousel carousel--galery">
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/1.jpg">
							<img class="lazyOwl" src="./images/collection-evening-dresses/1.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/2.jpg">
							<img class="lazyOwl" data-src="./images/collection-evening-dresses/2.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/3.jpg">
							<img class="lazyOwl" data-src="./images/collection-evening-dresses/3.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/4.jpg">
							<img class="lazyOwl" data-src="./images/collection-evening-dresses/4.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/5.jpg">
							<img class="lazyOwl" data-src="./images/collection-evening-dresses/5.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/6.jpg">
							<img class="lazyOwl" data-src="./images/collection-evening-dresses/6.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/7.jpg">
							<img class="lazyOwl" data-src="./images/collection-evening-dresses/7.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/8.jpg">
							<img class="lazyOwl" data-src="./images/collection-evening-dresses/8.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/9.jpg">
							<img class="lazyOwl" data-src="./images/collection-evening-dresses/9.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/10.jpg">
							<img class="lazyOwl" data-src="./images/collection-evening-dresses/10.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/11.jpg">
							<img class="lazyOwl" data-src="./images/collection-evening-dresses/11.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/12.jpg">
							<img class="lazyOwl" data-src="./images/collection-evening-dresses/12.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/13.jpg">
							<img class="lazyOwl" data-src="./images/collection-evening-dresses/13.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/14.jpg">
							<img class="lazyOwl" data-src="./images/collection-evening-dresses/14.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/15.jpg">
							<img class="lazyOwl" data-src="./images/collection-evening-dresses/15.jpg" alt="foto">
						</a>
					</div>
					<div class="item">
						<a class="fancybox" rel="collection-evening-dresses" href="./images/collection-evening-dresses/16.jpg">
							<img class="lazyOwl" data-src="./images/collection-evening-dresses/16.jpg" alt="foto">
						</a>
					</div>
				</div>
			</div>
			<div class="content__text">
				<div class="content__title">Вечерние платья</div>
				<div class="content__desc">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fugit nemo voluptatem sequi doloribus beatae provident, molestias, illum, molestiae tenetur nesciunt! Sunt autem quo, reiciendis accusamus id deleniti ullam doloremque!
					</p>
				</div>
				<!-- <div class="content__more">
					<a class="content__link" href="#">сделать заказ</a>
				</div> -->
			</div>
		</div>
	</div>
</div>
