<div class="content">
	<h1>
		<span class="content__head">Новости</span>
	</h1>

	<div class="content__block">
		<div class="content__img">
			<div class="carousel carousel--big">
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Akris-620x930.jpg">
						<img src="./images/news1/Akris-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Anna-Sui-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Anna-Sui-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Apiece-Apart-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Apiece-Apart-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Balenciaga3-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Balenciaga3-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Celine3-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Celine3-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Chloe-21-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Chloe-21-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Christian-Dior3-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Christian-Dior3-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Dolce-Gabbana3-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Dolce-Gabbana3-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Elie-Saab1-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Elie-Saab1-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Erdem1-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Erdem1-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Hermes1-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Hermes1-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Iris-van-Herpen-2-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Iris-van-Herpen-2-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Isabel-Marant-3-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Isabel-Marant-3-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Kenzo2-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Kenzo2-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Maiyet1-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Maiyet1-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Rachel-Zoe-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Rachel-Zoe-620x930.jpg" alt="foto">
					</a>
				</div>
				<div class="item">
					<a class="fancybox" rel="group1" href="./images/news1/Ralph-Lauren2-620x930.jpg">
						<img class="lazyOwl" data-src="./images/news1/Ralph-Lauren2-620x930.jpg" alt="foto">
					</a>
				</div>
			</div>
		</div>
		<div class="content__text">
			<div class="content__title">Модные платья Осень-Зима 2015-2016</div>
			<div class="contact__desc">
				<p>
					Я уже делала обзор модных вечерних платьев 2015-2016 года, чуть позднее я его дополню осенними моделями. Сейчас же я расскажу о платьях в целом.
					<br>
					В холодный период  дизайнеры отдали своё  внимание в основном  теплым моделям: вязка, длинный рукав, кожа, бархат, если вкратце — самые популярные тренды
					<br>
					<br>
					<strong>Теплые вязаные платья</strong> — это самое идеальное решение для холодной осени и зимы. Не удивительно, что дизайнеры все чаще обращаются к этой теме. Тепло, уютно и плюс  очень стильно! Модели вязаных платьев есть у Trussardi, Céline, Leonard, Louis Vuitton, Chloé, , Stella McCartney и у многих других.
					<br>
					<br>
					<strong>Платья с рукавами «летучая мышь».</strong>  Своего рода отголосок любви к пончо и кейпам. Замечательные,красивые силуэты! Только мне кажется,не совсем удобные в сочетании с привычной верхней одеждой. К таким моделям стоит выбирать пончо, накидки и кейпы. К тому же они  как раз в тренде. Такие необычные  силуэты платьев можно найти в коллекциях Valentino, Kenzo, Christopher Kane, Zuhair Murad, Chanel и Awaveawake.
					<br>
					<br>
					<strong>Платья с длинными рукавами</strong> опять-таки актуальны для холодного сезона. И я не удивляюсь, встречая такие модели практически в каждой коллекции! Посмотря  на показы Miu Miu, Akris, Valentino, Veronique Branquinho, Chanel, Louis Vuitton, Givenchy, Paul & Joe, Alexander McQueen, , в каждой коллекции присутствует силуэт платьев с длинными рукавами!
					<br>
					<br>
					<strong>Кожаные платья.</strong> И снова этот тренд набирает обороты! BDSM-стереотипы рушатся в головах людей буквально на глазах.И это  радует!Так как я сама — страстный фанат кожи и ее удобства. Мне очень понравились модели из коллекций Trussardi, Veronique Branquinho, Mugler, Alexander McQueen, Saint Laurent и Elie Saab.
					<br>
					<br>
					<strong>Объемный крой и oversize.</strong>  Один из очень приметных трендов модных платьев последних сезонов, особенно осенне-зимних. Объясняется  это тем, что именно зимой хочется надевать объемные вещи, создавая или воздушную прослойку, которая согревает, или же обыгрывая oversize-тренд в стиле многослойность.  Именно здесь вам подойдут  предметы одежды расслабленного кроя, великоватые по размеру. Демонстрацию такого  тренда можно увидеть у Valentino, Balenciaga, Kenzo, Iris van Herpen, Chloé, Chanel, Paul & Joe, Leonard, Valentin Yudashkin
				</p>
			</div>
			<!-- <div class="content__more">
				<a class="content__link" href="#">читать далее</a>
			</div> -->
		</div>
	</div>

	<div class="content__block clearfix">
		<div class="content__img">
			<div class="carousel carousel--small">
				<div class="item"><img class="lazyOwl" data-src="./images/news2/2_1.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news2/2_2.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news2/2_3.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news2/2_4.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news2/2_5.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news2/2_6.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news2/2_7.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news2/2_8.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news2/2_9.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news2/2_10.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news2/2_11.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news2/2_12.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news2/2_13.jpg" alt="foto"></div>
			</div>
		</div>
		<div class="content__text">
			<div class="content__title">Вечерний комбинезон –горячий тренд 2015-2016</div>
			<div class="content__desc">
				<p>
					Последние несколько лет  мировые звезды стали появляться на публике в элегантных, роскошных вечерних комбинезонах черного цвета. В этом сезоне в тренде не только черные, но и цветные вечерние комбинезоны, а также белые, серебристые и даже золотые. Преимущество такого вечернего наряда оригинальность, шик, роскошь, а также лишний повод продемонстрировать не только свою идеальную фигуру, но и последние модные тенденции сезона.
				</p>
			</div>
			<!-- <div class="content__more">
				<a class="content__link" href="#">читать далее</a>
			</div> -->
		</div>
		
	</div>

	<div class="content__block">
		<div class="content__img">
			<div class="carousel carousel--big">
				<div class="item"><img class="lazyOwl" data-src="./images/news3/1.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/2.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/3.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/4.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/5.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/6.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/7.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/8.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/9.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/10.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/11.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/12.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/13.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/14.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/15.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/16.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news3/17.jpg" alt="foto"></div>
			</div>
		</div>
		<div class="content__text">
			<div class="content__title">Новогоднее платье 2016</div>
			<div class="content__desc">
				<p>
					Наряд для новогодней ночи 2016 может быть каким угодно, только не скучным и не повседневным. Пусть это будет настоящее новогоднее платье, сшитое на заказ или выбранное в магазине с должной тщательностью. А вот на  какой длине и фасоне остановиться? Подсказка для вас будет в нашей статье про модные новогодние платья 2016. Вы здесь найдете самые последние тенденции вечерней моды и фото лучших фасонов от самых ведущих мировых дизайнеров.
					<br>
					<br>
					Самые красивые новогодние платья 2016 в большинстве сохранили многие тенденции прошлого года: длину миди,боковые высокие разрезы, V-образные вырезы, платья на одно плечо,  вышивка, и прозрачные ткан . Конечно не обязательно следовать этим повторяющимся трендам вечерней моды, на подиумах так же было представлено великое множество самых разнообразных фасонов, теперь вам  есть на что посмотреть и чем вдохновляться. Заметны попытки привнести в новогоднюю моду 2016 года элементы модных направлений сезона Осень-Зима 2015-2016: например, геометрическийи цветочный  принт, а также добавить в цветовую новогоднюю палитру огненных зелёных и солнечных оттенков, отдавая дань уважения  хозяйке предстоящего года

				</p>
			</div>
			<!-- <div class="content__more">
				<a class="content__link" href="#">читать далее</a>
			</div> -->
		</div>
	</div>

	<div class="content__block clearfix">
		<div class="content__img">
			<div class="carousel carousel--big">
				<div class="item"><img class="lazyOwl" data-src="./images/news4/1.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/2.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/3.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/4.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/5.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/6.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/7.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/8.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/9.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/10.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/11.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/12.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/13.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/14.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/15.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/16.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/17.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/18.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/19.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/20.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/21.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/22.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/23.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/24.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/25.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/26.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/27.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/28.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/29.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/30.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/31.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/32.jpg" alt="foto"></div>
				<div class="item"><img class="lazyOwl" data-src="./images/news4/33.jpg" alt="foto"></div>
			</div>
		</div>
		<div class="content__text">
			<div class="content__title">Самые модные свадебные платья Весна-Лето 2015-2016</div>
			<div class="content__desc">
				<p>
					Главные модные дома представили  коллекции на Неделе свадебной моды в Нью-Йорке. Известный дизайнер Моник Лульер свадебную моду сделала основной своей специализацией. Свою новую коллекцию сезона весна-лето 2016 она назвала "Современная фантазия", и представила  на показе традиционные свадебные силуэты с роскошными широкими юбками и воздушным кружевным верхом.Прически моделей украшали изящные обручи, напоминающие хрупкие ветки молодых деревьев. Поразительная юбка одного из платье дизайнер создала полностью  из перьев, в другом из образов использовала фату в виде шали, подчеркнув этим утонченность невесты. 
					<br>
					<br>
					Как всегда больше  всего на Неделе свадебной моды публика ждала показ Oscar de la Renta. Совсем недавно новый креативный директор Питер Коппинг представил свою первую коллекцию для бренда, и дебютировал с первой коллекцией свадебных нарядов.Разработав несколько вариантов стилистических подвенечных платьев. Среди 25 нарядов присутствуют  игривые мини-платья для самых нежных невест, узкие кружевные платья, идеально подходят для свадьбы на самом  берегу моря ,а так же классические силуэты невесты. Фату Коппинг украсил огромными цветами, так  обычно  делают жительницы Доминиканской республики. 
					<br>
					<br>
					Ну а самые  романтичные платья традиционно предлагает дуэт Marchesa. Нежные цветочные аппликации, украшенная кристаллами линия декольте, цветочные венки-диадемы, напоминали украшения танцовщиц .К облику романтичной невесты дизайнеры добавили ещё больше нежности и воздушности. Дополнив  наряды соблазнительными  вырезами на спине они добавили образам чуточку сексуальности.
					<br>
					<br>
					Дизайнер Каролина Эррера,  мастерски балансирующая между трендами и классикой, на этот раз решила невест одеть  более соблазнительно и сексуально. Основой ее коллекции стали изящные  силуэты"русалочки", не перегруженные декором, и в качестве главных материалов использовала шелк, органзу, кружево Шантильи.Самым важным акцентом коллекции  стал белый жасмин - аксессуары, напоминающие его цветы, украсили волосы и запястья девушек. В коллекции  нашлось место и белоснежному брючному костюму, созданному специально для тех, кто неброскую романтику предпочитает щедро украшенным нарядам. 
				</p>
			</div>
			<!-- <div class="content__more">
				<a class="content__link" href="#">читать далее</a>
			</div> -->
		</div>
	</div>


</div>
