.contact {
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
	padding: 15px 3% 50px;
	box-sizing: border-box;
	margin-top: 105px;
	text-align: center;

	p{
		padding: 0;
		line-height: 1.8em;
		font-size: 14px;
		text-align: justify;
	}

	&__list {
		display: inline-block;
		font-size: 16px;
		line-height: 2em;
		margin-top: 20px;
		text-align: left;
		i {
			margin-right: 10px;
		}
	}
	&__desc {
		display: inline-block;
		// border-bottom: 1px solid rgba(51, 51, 51, 0.37);
		padding-bottom: 25px;
	}

	&__container {
		padding: 15px;
		box-sizing: border-box;
		display: inline-block;
		width: 50%;
		vertical-align: top;
		min-height: 100px;
		margin-right: -4px;
		max-width: 500px;
		text-align: left;
	}

	&__socials {
		margin-top: 30px;
		li {
			display: inline-block;
			font-size: 30px;
			&:not(:last-child) {margin-right: 20px;}
		}
	}

	&__btn {
		text-align: right;
		margin-bottom: 25px;
	}
}

.map {
	height: 500px;

	&__wrap {
		margin-bottom: 24px;
	}
}

.contact-form {
	// width: 60%;
 	// margin: 0 auto;

	&__row {
		margin: 15px 0;
	}

	label {
		text-transform: uppercase;
		font: 11px/2em 'RobotoRegular';
		width: 50px;
	}

	textarea {
		height: 200px;
	}

	.content__link {
		background-color: #fff;
		font-size: 14px;
		cursor: pointer;

		&:focus {
			outline: 0;
		}

		&:hover {
			color: $clr-red;
		}
	}

}

@media screen and (max-width: 680px) {
	.contact {
		&__container {
			width: 100%;
		}
	}
}