<div class="contact">
	<h1>
		<span class="content__head">Контакты</span>
	</h1>
	<div class="logo logo--big">
		<span class="logo__lastname">Minesko</span> <br>
		<span class="logo__firstname">
			<span class="clr--red">S</span>
			<span>v</span>
			<span>e</span>
			<span>t</span>
			<span>l</span>
			<span>a</span>
			<span>n</span>
			<span>a</span>
		</span>
	</div>

	<div class="contact__container">
		<div class="contact__desc">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum veniam sequi quos, est eos asperiores voluptates doloremque. Harum, aliquam, deserunt? Cupiditate a inventore voluptas aut reprehenderit voluptate minus tempore cum.</p>
			<p> Voluptatum veniam sequi quos, est eos asperiores voluptates doloremque. Harum, aliquam, deserunt? Cupiditate Lorem ipsum dolor sit adipisicing elit.a inventore voluptas aut reprehenderit voluptate minus tempore cum.</p>
		</div>
		
		<div class="contact__info">
			<ul class="contact__list">
				<li>наши контакты:</li>
				<li><i class="fa fa-map-marker"></i> Украина, г. Одесса, ул Дерибасовская 1а</li>
				<li><i class="fa fa-phone"></i>099 12-34-567, 067 123-45-67</li>
				<li><i class="fa fa-envelope-o"></i>minesko@gmail.com</li>
				<li><i class="fa fa-skype"></i>MineskoSv.</li>
				<li><i class="fa fa-instagram"></i>minesko-inst</li>
				<li>
					<ul class="contact__socials">
						<li><a href="#"><i class="fa fa-vk"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="contact__container">
		<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=tLcseVnMefjaoS8WTn9EeXLNY1U0TSsj&id=map"></script>
		<div class="map__wrap">
			<div id="map" class="map"></div>
		</div>
	</div>
</div>