@@include('../components/head/head.html')

<body>

@@include('../components/noscript/noscript.html')

<div class="container">
 
@@include('../components/header/header.html')

@@include('../components/gallery/gallery.html')

@@include('../components/slider/slider.html')


        
</div>

@@include('../components/footer/footer.html')

@@include('../components/scripts/scripts.html')


<script>
	 $('div.slider__head').sliderShop({
	  	caseLimit: 1, //кол-во товаров в витрине
	    spaceSection: 'auto', //расстояние между секциями
	    animation: 'slide', //тип анимации
	    timer: 6000, //автопереключение
	    repeat: true, //показ слайдов по кругу
	    animBox: 'slider__anim', // селектор всплывающих блоков
	    countBox: 'slider__ind', //селектор списка
	    countSelect: true,
	    response: 'height'
  	});

	 $('div.slider__work').sliderShop({
	  	caseLimit: 7, //кол-во товаров в витрине
	    spaceSection: 'auto', //расстояние между секциями
	    animation: 'slide', //тип анимации
	    timer: 6000, //автопереключение
	    repeat: true, //показ слайдов по кругу
	    response: true
  	});

	var btn = $('.btn__head'),
		list = $('.head__list li');

	btn.on('click', function (e) {
		e.preventDefault();

		$(this).toggleClass('active').hasClass('active') ? list.slideDown() : list.slideUp();
	});
</script>




</body>
</html>
