@@include('../components/head/head.html')

<body>

@@include('../components/noscript/noscript.html')

<div class="container">
 
@@include('../components/header/header.html')

@@include('../components/slider/slider-head.html')

@@include('../components/content/about.html')

@@include('../components/content/content3.html')

@@include('../components/slider/slider.html')

</div>

@@include('../components/footer/footer.html')

@@include('../components/scripts/scripts.html')

<script>
$('.carousel--big').owlCarousel({
	items: 1,
	lazyLoad: true,
	navigation: true,
	pagination: false,
	singleItem: true,
	autoHeight: true,
	navigationText:	false
});

$('.carousel--small').owlCarousel({
	items: 3,
	lazyLoad: true,
	navigation: true,
	pagination: false,
	navigationText:	false
});

</script>


</body>
</html>
