@@include('../components/head/head.html')

<body>

@@include('../components/noscript/noscript.html')

<div class="container">
 
@@include('../components/header/header.html')

@@include('../components/slider/slider-head.html')

@@include('../components/content/content.html')

@@include('../components/contact/contact.html')

@@include('../components/gallery/gallery.html')

@@include('../components/content/content2.html')

@@include('../components/content/content3.html')

@@include('../components/slider/slider.html')

@@include('../components/footer/footer.html')
        
</div>

@@include('../components/scripts/scripts.html')


<script>
	 $('div.slider__head').sliderShop({
	  	caseLimit: 1, //кол-во товаров в витрине
	    spaceSection: 'auto', //расстояние между секциями
	    animation: 'hide-show', //тип анимации
	    timer: false, //автопереключение
	    repeat: true, //показ слайдов по кругу
	    animBox: 'slider__anim', // селектор всплывающих блоков
	    countBox: 'slider__ind', //селектор списка
	    countSelect: true,
	    response: true
  	});

	 $('div.slider__work').sliderShop({
	  	caseLimit: 5, //кол-во товаров в витрине
	    spaceSection: 'auto', //расстояние между секциями
	    animation: 'slide', //тип анимации
	    timer: false, //автопереключение
	    repeat: true, //показ слайдов по кругу
	    response: true
  	})
</script>




</body>
</html>
