<header>
	<div class="head">
		<div class="head__nav">
			<ul>
				<li><a href="#">Главная</a></li>
				<li><a href="#">Новости</a></li>
				<li><a href="#">Услуги</a></li>
				<li>
					<div class="logo">
						<span class="logo__lastname">Minesko</span> <br>
						<span class="logo__firstname">
							<span class="clr--red">S</span>
							<span>v</span>
							<span>e</span>
							<span>t</span>
							<span>l</span>
							<span>a</span>
							<span>n</span>
							<span>a</span>
						</span>
					</div>
				</li>
				<li><a href="#">Новости</a></li>
				<li><a href="#">Колекции</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</div>
</header>