.slider {
	&__head {
		margin: 0 auto;
		position: relative;
		max-width: 1400px;
	}

	&__wrapper {
		height: 800px;
		position: absolute;
		width: 100000px;
	}

	&__img {
		border: 1px solid #fff;
	}

	&__indicator {
		position: absolute;
		bottom: 25px;
		text-align: center;
		width: 100%;

		li {
			display: inline-block;
			cursor: pointer;
			position: relative;
			border: 1px solid rgba(255, 255, 255, 0.65);
			height: 12px;
			width: 12px;
			margin: 0 10px;

			&.active {
				background-color: rgba(255, 255, 255, 0.55);
			}
		}
	}

	&__main {
		height: 815px;
		max-width: 1400px;
		position: relative;
		overflow-x: hidden;
		margin-top: 100px;

		ul {
			width: 10000px;
		}

		li {
			position: relative;
			display: inline-block;
			&:before,
			&:after {
				background:transparent url('/images/slide-bg.png') 0 0 repeat-y;
				content: '';
				height: 100%;
				position: absolute;
				top: 0;
				width: 200px;
			}
			&:before {left: 0}

			&:after {
				right: 0;
				transform: rotate(180deg);
			}
		}
	}

	.nav {
		position: absolute;
		width: 50px;
		margin: 10px;
		height: 226px;
		bottom: 30%;
		color: #eee;
		border: 1px solid #A6A6A6;

		&--prev {left: 0%;}

		&--next {right: 0%;}
	}
}

// .point {
// 	border-radius: 30px 30px 0px 30px;
// 	height: 20px;
// 	position: absolute;
// 	top: -21px;
// 	left: -21px;
// 	width: 20px;
// 	border: 20px solid rgba(238, 238, 238, 0.71);
// 	border-right: 0;
// 	border-bottom: 0;
// 	background-clip: padding-box;
// 	cursor: pointer;
// }

.block {
	background-color: rgba(0, 0, 0, 0.65);
	border: 1px solid rgba(255, 255, 255, 0.55);
	color: #E4E4E4;
	position: absolute;
	text-align: center;

	&--cost {
		box-sizing: border-box;
		padding: 15px 25px;
		left: 290px;
		top: 650px;

		&__name {
			font-size: 24px;
			border-bottom: 1px solid;
			line-height: 1.5em;
			padding: 0 10px 5px;
			margin: 0 -10px;
		}

		&__btn {
			font-size: 12px;
			line-height: 1.5em;
			margin-top: 5px;
			color: #E4E4E4;
			text-align: right;

			&:hover {
				text-decoration: underline;
				a:hover {color: #E4E4E4;}
			}
		}
	}
}



.slider__anim {
	display: none;
}