.slider {
	&__work {
		margin: 0 auto;
		max-width: 1400px;
		overflow: hidden;
		position: relative;
		// height: 470px;
		width: 100%;

		&--wrapper {
			margin-bottom: 15px;
		}

		&--window {
			max-width: 1400px;
			margin: 0 auto;
			height: 380px;
			position: relative;
		}

		&--title {
			max-width: 1200px;
			// min-width: 1024px;
			margin: 0 auto;
			padding: 0 55px; 
			box-sizing: border-box;
			letter-spacing: -.3px;
			height: 115px;
		}

		.owl-theme .owl-controls {
		    top: -70px;
		    width: 200px;
		    right: 0;
		}

		.owl-theme .owl-controls .owl-buttons .owl-prev {
		    left: 0px;
		    transform: rotate(0deg);
		}

		.owl-theme .owl-controls .owl-buttons .owl-next {
		    right: 10px;
		}

		.owl-theme .owl-controls .owl-buttons div {
			background: none;
			border: 1px solid;
			box-sizing: border-box;
			color: rgba(0, 0, 0, 0.71);
			font-size: 15px;
			height: 40px;
			padding: 10px 15px;
			text-align: center;
			transition: all .5s ease-out 0.1s;
			width: 85px;
			&:hover {
				color: #ff2c29;
			}
		}

		ul {
			position: absolute;
			overflow: hidden;
			height: 380px;
			// width: 10000px;
		}

		li {
			box-sizing: border-box;
			float: left;
			text-align: center;

			& > a {

			}
		}

		.nav {
			position: relative;
			font-size: 14px;
			line-height: 1em;
			// margin: 5px 10px;

			&:hover {
				// background-position: 0 0;
			}

			&--prev {
				margin-right: 15px;
				&:before {
					content: 'назад';
				}
			}

			&--next {
				&:before {
					content: 'вперед';
				}
			}
		}

		img {
			// height: 100%;
			padding: 0 10px;
			box-sizing: border-box;
		}

		.slider__nav {
			float: right;
		}
	}
}


@media screen and (max-width: 430px) {
	.slider__work {
		.content__title {
			margin-bottom: 90px;
		}

		.owl-theme .owl-controls {
		    width: 100%;
		    left: 0;
		}

		.owl-theme .owl-controls .owl-buttons .owl-prev {
		    left: 10px;
		}

		.owl-theme .owl-controls .owl-buttons div {
			width: 45%;
		}

	}
}