.slider {
	&__work {
		margin: 0 auto;
		max-width: 1400px;
		overflow: hidden;
		position: relative;
		height: 470px;
		width: 100%;

		&--window {
			max-width: 1400px;
			margin: 0 auto;
			height: 380px;
			position: relative;
		}

		&--title {
			max-width: 1200px;
			// min-width: 1024px;
			margin: 0 auto;
			padding: 0 55px; 
			box-sizing: border-box;
			letter-spacing: -.3px;
			height: 115px;
		}

		ul {
			position: absolute;
			overflow: hidden;
			height: 380px;
			// width: 10000px;
		}

		li {
			box-sizing: border-box;
			float: left;
			text-align: center;

			& > a {

			}
		}

		.nav {
			position: relative;
			font-size: 14px;
			line-height: 1em;
			// margin: 5px 10px;

			&:hover {
				// background-position: 0 0;
			}

			&--prev {
				margin-right: 15px;
				&:before {
					content: 'назад';
				}
			}

			&--next {
				&:before {
					content: 'вперед';
				}
			}
		}

		img {
			height: 100%;
			padding: 0 10px;
			box-sizing: border-box;
		}

		.slider__nav {
			float: right;
		}
	}
}


@media screen and (max-width: 410px) {
	.slider__work .slider__nav {
		// float: none;
		text-align: center;

		.nav {
			width: 35px;
			padding: 10px;
			box-sizing: border-box;
			&--prev {
				margin-right: 15px;
				&:before {
					content: '<';
				}
			}

			&--next {
				&:before {
					content: '>';
				}
			}
		}
	}
}