<div class="slider__head">
	<div class="slider__main">
		<ul class="slider__wrapper">
			<li>
				<div class="slider__img">
					<img src="./images/slider/slide-1.jpg" alt="slide1">
				</div>
				<div class="slider__anim block block--cost" data-time="200" data-x="290" data-y="650">
					<div class="slider__anim point" data-time="450"></div>
					<div class="block--cost__name">Верхняя одежда</div>
					<div class="block--cost__btn"><a href="#" class="button">смотреть детали</a></div>
				</div>
			</li>
			<li>
				<div class="slider__img">
					<img src="./images/slider/slide-2.jpg"  alt="slide1">
				</div>
				<div class="slider__anim block block--cost" data-time="200" data-x="490" data-y="550">
					<div class="slider__anim point" data-time="450"></div>
					<div class="block--cost__name">Вечерние платья</div>
					<div class="block--cost__btn"><a href="#" class="button">смотреть детали</a></div>
				</div>
			</li>
			<li>
				<div class="slider__img">
					<img src="./images/slider/slide-3.jpg" alt="slide1">
				</div>
				<div class="slider__anim block block--cost" data-time="200" data-x="190" data-y="150">
					<div class="slider__anim point" data-time="450"></div>
					<div class="block--cost__name">Женская одежда</div>
					<div class="block--cost__btn"><a href="#" class="button">смотреть детали</a></div>
				</div>
			</li>
			<li>
				<div class="slider__img">
					<img src="./images/slider/slide-4.jpg"  alt="slide1">
				</div>
				<div class="slider__anim block block--cost" data-time="200" data-x="390" data-y="250">
					<div class="slider__anim point" data-time="450"></div>
					<div class="block--cost__name">Свадебные платья</div>
					<div class="block--cost__btn"><a href="#" class="button">смотреть детали</a></div>
				</div>
			</li>
		</ul>
		<a href="#" class="nav nav--prev"></a>
		<a href="#" class="nav nav--next"></a>
	</div>
	<div class="slider__indicator">
		<ul>
			<li class="slider__ind active"></li>
			<li class="slider__ind"></li>
			<li class="slider__ind"></li>
			<li class="slider__ind"></li>
		</ul>
	</div>
</div>