<div class="slider__work">
	<div class="content__title">
		<div>
			Наши работы
			<div class="slider__nav fl-r">
				<a href="#" class="nav nav--prev content__link">назад</a>
				<a href="#" class="nav nav--next content__link">вперед</a>
			</div>
		</div>
		
	</div>
	<div class="slider__work--window">
		<ul class="slider__wrapper">
			<li>
				<a href="#">
					<img src="./images/slide-1.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/slide-1.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/slide-1.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/slide-1.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/slide-1.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/slide-1.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/slide-1.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/slide-1.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/slide-1.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/slide-1.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/slide-1.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/slide-1.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/slide-1.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="./images/slide-1.jpg" height="150" width="250" alt="foto">
				</a>
			</li>
		</ul>
	</div>
</div>