<div class="slider__work">
	<div class="content__title">
		<div>
			Наши работы
			<div class="slider__nav">
				<a href="#" class="nav nav--prev content__link"></a>
				<a href="#" class="nav nav--next content__link"></a>
			</div>
		</div>
		
	</div>
	<div class="slider__work--window">
		<ul class="slider__wrapper">
			<li>
				<a href="./images/slider-small/1.jpg">
					<img src="./images/slider-small/1-small.jpg" height="380" width="150" alt="foto">
				</a>
			</li>
			<li>
				<a href="./images/slider-small/2.jpg">
					<img src="../../images/slider-small/2-small.jpg" height="380" width="150" alt="foto">
				</a>
			</li>
			<li>
				<a href="./images/slider-small/3.jpg">
					<img src="./images/slider-small/3-small.jpg" height="380" width="150" alt="foto">
				</a>
			</li>
			<li>
				<a href="./images/slider-small/4.jpg">
					<img src="./images/slider-small/4-small.jpg" height="380" width="150" alt="foto">
				</a>
			</li>
			<li>
				<a href="./images/slider-small/5.jpg">
					<img src="./images/slider-small/5-small.jpg" height="380" width="150" alt="foto">
				</a>
			</li>
			<li>
				<a href="./images/slider-small/6.jpg">
					<img src="./images/slider-small/6-small.jpg" height="380" width="150" alt="foto">
				</a>
			</li>
			<li>
				<a href="./images/slider-small/1.jpg">
					<img src="./images/slider-small/1-small.jpg" height="380" width="150" alt="foto">
				</a>
			</li>
			<li>
				<a href="./images/slider-small/7.jpg">
					<img src="./images/slider-small/7-small.jpg" height="380" width="150" alt="foto">
				</a>
			</li>
			<li>
				<a href="./images/slider-small/5.jpg">
					<img src="./images/slider-small/5-small.jpg" height="380" width="150" alt="foto">
				</a>
			</li>
			<li>
				<a href="./images/slider-small/3.jpg">
					<img src="./images/slider-small/3-small.jpg" height="380" width="150" alt="foto">
				</a>
			</li>
			<li>
				<a href="./images/slider-small/1.jpg">
					<img src="./images/slider-small/1-small.jpg" height="380" width="150" alt="foto">
				</a>
			</li>
			<li>
				<a href="./images/slider-small/4.jpg">
					<img src="./images/slider-small/4-small.jpg" height="380" width="150" alt="foto">
				</a>
			</li>
			<li>
				<a href="./images/slider-small/7.jpg">
					<img src="./images/slider-small/7-small.jpg" height="380" width="150" alt="foto">
				</a>
			</li>
			<li>
				<a href="./images/slider-small/2.jpg">
					<img src="./images/slider-small/2-small.jpg" height="380" width="150" alt="foto">
				</a>
			</li>
		</ul>
	</div>
</div>