<div class="slider__head">
	<div class="slider__main">
		<ul class="slider__wrapper">
			<li>
				<div class="slider__img">
					<img src="./images/slider/slide-1.jpg" alt="slide1">
				</div>
				<div class="slider__anim block block--cost" data-time="400">
					<div class="block--cost__name">Эксклюзивная верхняя одежда от дизайнера</div>
					<div class="block--cost__btn">
						<a href="#" class="button">Всегда безупречно и не ищите компромисс…</a></div>
				</div>
			</li>
			<li>
				<div class="slider__img">
					<img src="./images/slider/slide-2.jpg"  alt="slide1">
				</div>
				<div class="slider__anim block block--cost" data-time="400">
					<div class="block--cost__name">Роскошные авторские вечерние наряды</div>
					<div class="block--cost__btn"><a href="#" class="button">Лёгкость вашего вечера</a></div>
				</div>
			</li>
			<li>
				<div class="slider__img">
					<img src="./images/slider/slide-3.jpg" alt="slide1">
				</div>
				<div class="slider__anim block block--cost" data-time="400">
					<div class="block--cost__name">Одежда по индивидуальным заказам</div>
					<div class="block--cost__btn">
						<a href="#" class="button">Новый облик – это значит долгий взгляд Вам вслед.</a>
					</div>
				</div>
			</li>
			<li>
				<div class="slider__img">
					<img src="./images/slider/slide-4.jpg"  alt="slide1">
				</div>
				<div class="slider__anim block block--cost" data-time="400">
					<div class="block--cost__name">Дизайнерские свадебные платья</div>
					<div class="block--cost__btn">
						<a href="#" class="button">Самый красивый путь к счастью</a>
					</div>
				</div>
			</li>
		</ul>
		<a href="#" class="nav nav--prev"></a>
		<a href="#" class="nav nav--next"></a>
	</div>
	<div class="slider__indicator">
		<ul>
			<li class="slider__ind active"></li>
			<li class="slider__ind"></li>
			<li class="slider__ind"></li>
			<li class="slider__ind"></li>
		</ul>
	</div>
</div>