<div class="slider__work">
	<div class="content__title">
		<div>
			Наши работы
			<div class="slider__nav">
				<!-- <a href="#" class="nav nav--prev content__link"></a> -->
				<!-- <a href="#" class="nav nav--next content__link"></a> -->
			</div>
		</div>
	</div>
	<div class="slider__work--wrapper">
		<div class="item">
			<a class="fancybox" rel="group-slider" href="./images/slider-small/1.jpg">
				<img src="./images/slider-small/1-small.jpg" alt="foto">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" rel="group-slider" href="./images/slider-small/2.jpg">
				<img src="./images/slider-small/2-small.jpg" alt="foto">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" rel="group-slider" href="./images/slider-small/3.jpg">
				<img src="./images/slider-small/3-small.jpg" alt="foto">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" rel="group-slider" href="./images/slider-small/4.jpg">
				<img src="./images/slider-small/4-small.jpg" alt="foto">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" rel="group-slider" href="./images/slider-small/5.jpg">
				<img src="./images/slider-small/5-small.jpg" alt="foto">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" rel="group-slider" href="./images/slider-small/6.jpg">
				<img src="./images/slider-small/6-small.jpg" alt="foto">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" rel="group-slider" href="./images/slider-small/7.jpg">
				<img src="./images/slider-small/7-small.jpg" alt="foto">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" rel="group-slider" href="./images/slider-small/8.jpg">
				<img src="./images/slider-small/8-small.jpg" alt="foto">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" rel="group-slider" href="./images/slider-small/1.jpg">
				<img src="./images/slider-small/1-small.jpg" alt="foto">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" rel="group-slider" href="./images/slider-small/2.jpg">
				<img src="./images/slider-small/2-small.jpg" alt="foto">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" rel="group-slider" href="./images/slider-small/3.jpg">
				<img src="./images/slider-small/3-small.jpg" alt="foto">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" rel="group-slider" href="./images/slider-small/4.jpg">
				<img src="./images/slider-small/4-small.jpg" alt="foto">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" rel="group-slider" href="./images/slider-small/5.jpg">
				<img src="./images/slider-small/5-small.jpg" alt="foto">
			</a>
		</div>
		<div class="item">
			<a class="fancybox" rel="group-slider" href="./images/slider-small/6.jpg">
				<img src="./images/slider-small/6-small.jpg" alt="foto">
			</a>
		</div>
	</div>
</div>