<div class="content">
    <h1>
        <span class="content__head">галерея</span>
    </h1>

    <div class="content__wrap">
        <div class="content__block--full">
            <div class="content__img content__img--galery">
                <div class="carousel carousel--galery">
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/1.jpg">
                            <img class="lazyOwl" src="./images/galery-evening-dresses/1.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/2.jpg">
                            <img class="lazyOwl" data-src="./images/galery-evening-dresses/2.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/3.jpg">
                            <img class="lazyOwl" data-src="./images/galery-evening-dresses/3.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/4.jpg">
                            <img class="lazyOwl" data-src="./images/galery-evening-dresses/4.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/5.jpg">
                            <img class="lazyOwl" data-src="./images/galery-evening-dresses/5.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/6.jpg">
                            <img class="lazyOwl" data-src="./images/galery-evening-dresses/6.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/7.jpg">
                            <img class="lazyOwl" data-src="./images/galery-evening-dresses/7.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/8.jpg">
                            <img class="lazyOwl" data-src="./images/galery-evening-dresses/8.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/9.jpg">
                            <img class="lazyOwl" data-src="./images/galery-evening-dresses/9.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/10.jpg">
                            <img class="lazyOwl" data-src="./images/galery-evening-dresses/10.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/11.jpg">
                            <img class="lazyOwl" data-src="./images/galery-evening-dresses/11.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/12.jpg">
                            <img class="lazyOwl" data-src="./images/galery-evening-dresses/12.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/13.jpg">
                            <img class="lazyOwl" data-src="./images/galery-evening-dresses/13.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/14.jpg">
                            <img class="lazyOwl" data-src="./images/galery-evening-dresses/14.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/15.jpg">
                            <img class="lazyOwl" data-src="./images/galery-evening-dresses/15.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-evening-dresses" href="./images/galery-evening-dresses/16.jpg">
                            <img class="lazyOwl" data-src="./images/galery-evening-dresses/16.jpg" alt="foto">
                        </a>
                    </div>
                </div>
            </div>
            <div class="content__text">
                <div class="content__title">Вечерние платья</div>
                <div class="content__desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fugit nemo voluptatem sequi doloribus beatae provident, molestias, illum, molestiae tenetur nesciunt! Sunt autem quo, reiciendis accusamus id deleniti ullam doloremque!
                    </p>
                </div>
                <!-- <div class="content__more">
                    <a class="content__link" href="#">сделать заказ</a>
                </div> -->
            </div>
        </div>

        <div class="content__block--full">
            <div class="content__img content__img--galery">
                <div class="carousel carousel--galery">
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/1.jpg">
                            <img class="lazyOwl" src="./images/galery-outerwear/1.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/2.jpg">
                            <img class="lazyOwl" data-src="./images/galery-outerwear/2.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/3.jpg">
                            <img class="lazyOwl" data-src="./images/galery-outerwear/3.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/4.jpg">
                            <img class="lazyOwl" data-src="./images/galery-outerwear/4.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/5.jpg">
                            <img class="lazyOwl" data-src="./images/galery-outerwear/5.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/6.jpg">
                            <img class="lazyOwl" data-src="./images/galery-outerwear/6.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/7.jpg">
                            <img class="lazyOwl" data-src="./images/galery-outerwear/7.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/8.jpg">
                            <img class="lazyOwl" data-src="./images/galery-outerwear/8.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/9.jpg">
                            <img class="lazyOwl" data-src="./images/galery-outerwear/9.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/10.jpg">
                            <img class="lazyOwl" data-src="./images/galery-outerwear/10.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/11.jpg">
                            <img class="lazyOwl" data-src="./images/galery-outerwear/11.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/12.jpg">
                            <img class="lazyOwl" data-src="./images/galery-outerwear/12.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/13.jpg">
                            <img class="lazyOwl" data-src="./images/galery-outerwear/13.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/14.jpg">
                            <img class="lazyOwl" data-src="./images/galery-outerwear/14.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/15.jpg">
                            <img class="lazyOwl" data-src="./images/galery-outerwear/15.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-outerwear" href="./images/galery-outerwear/16.jpg">
                            <img class="lazyOwl" data-src="./images/galery-outerwear/16.jpg" alt="foto">
                        </a>
                    </div>
                </div>
            </div>
            <div class="content__text">
                <div class="content__title">Верхняя одежда</div>
                <div class="content__desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fugit nemo voluptatem sequi doloribus beatae provident, molestias, illum, molestiae tenetur nesciunt! Sunt autem quo, reiciendis accusamus id deleniti ullam doloremque!
                    </p>
                </div>
                <!-- <div class="content__more">
                    <a class="content__link" href="#">сделать заказ</a>
                </div> -->
            </div>
        </div>

        <div class="content__block--full">
            <div class="content__img content__img--galery">
                <div class="carousel carousel--galery">
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/1.jpg">
                            <img class="lazyOwl" src="./images/galery-wedding-dresses/1.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/2.jpg">
                            <img class="lazyOwl" data-src="./images/galery-wedding-dresses/2.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/3.jpg">
                            <img class="lazyOwl" data-src="./images/galery-wedding-dresses/3.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/4.jpg">
                            <img class="lazyOwl" data-src="./images/galery-wedding-dresses/4.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/5.jpg">
                            <img class="lazyOwl" data-src="./images/galery-wedding-dresses/5.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/6.jpg">
                            <img class="lazyOwl" data-src="./images/galery-wedding-dresses/6.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/7.jpg">
                            <img class="lazyOwl" data-src="./images/galery-wedding-dresses/7.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/8.jpg">
                            <img class="lazyOwl" data-src="./images/galery-wedding-dresses/8.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/9.jpg">
                            <img class="lazyOwl" data-src="./images/galery-wedding-dresses/9.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/10.jpg">
                            <img class="lazyOwl" data-src="./images/galery-wedding-dresses/10.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/11.jpg">
                            <img class="lazyOwl" data-src="./images/galery-wedding-dresses/11.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/12.jpg">
                            <img class="lazyOwl" data-src="./images/galery-wedding-dresses/12.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/13.jpg">
                            <img class="lazyOwl" data-src="./images/galery-wedding-dresses/13.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/14.jpg">
                            <img class="lazyOwl" data-src="./images/galery-wedding-dresses/14.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/15.jpg">
                            <img class="lazyOwl" data-src="./images/galery-wedding-dresses/15.jpg" alt="foto">
                        </a>
                    </div>
                    <div class="item">
                        <a class="fancybox" rel="galery-wedding-dresses" href="./images/galery-wedding-dresses/16.jpg">
                            <img class="lazyOwl" data-src="./images/galery-wedding-dresses/16.jpg" alt="foto">
                        </a>
                    </div>
                </div>
            </div>
            <div class="content__text">
            <div class="content__title">Свадебные платья</div>
                <div class="content__desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fugit nemo voluptatem sequi doloribus beatae provident, molestias, illum, molestiae tenetur nesciunt! Sunt autem quo, reiciendis accusamus id deleniti ullam doloremque!
                    </p>
                </div>
                <!-- <div class="content__more">
                    <a class="content__link" href="#">сделать заказ</a>
                </div> -->
            </div>
        </div>

        <div class="content__block--full">
    <div class="content__img content__img--galery">
        <div class="carousel carousel--galery">
            <div class="item">
                <a class="fancybox" rel="galery-womens-сlothing" href="./images/galery-womens-сlothing/1.jpg">
                    <img class="lazyOwl" src="./images/galery-womens-сlothing/1.jpg" alt="foto">
                </a>
            </div>
            <div class="item">
                <a class="fancybox" rel="galery-womens-сlothing" href="./images/galery-womens-сlothing/2.jpg">
                    <img class="lazyOwl" data-src="./images/galery-womens-сlothing/2.jpg" alt="foto">
                </a>
            </div>
            <div class="item">
                <a class="fancybox" rel="galery-womens-сlothing" href="./images/galery-womens-сlothing/3.jpg">
                    <img class="lazyOwl" data-src="./images/galery-womens-сlothing/3.jpg" alt="foto">
                </a>
            </div>
            <div class="item">
                <a class="fancybox" rel="galery-womens-сlothing" href="./images/galery-womens-сlothing/4.jpg">
                    <img class="lazyOwl" data-src="./images/galery-womens-сlothing/4.jpg" alt="foto">
                </a>
            </div>
            <div class="item">
                <a class="fancybox" rel="galery-womens-сlothing" href="./images/galery-womens-сlothing/5.jpg">
                    <img class="lazyOwl" data-src="./images/galery-womens-сlothing/5.jpg" alt="foto">
                </a>
            </div>
            <div class="item">
                <a class="fancybox" rel="galery-womens-сlothing" href="./images/galery-womens-сlothing/6.jpg">
                    <img class="lazyOwl" data-src="./images/galery-womens-сlothing/6.jpg" alt="foto">
                </a>
            </div>
            <div class="item">
                <a class="fancybox" rel="galery-womens-сlothing" href="./images/galery-womens-сlothing/7.jpg">
                    <img class="lazyOwl" data-src="./images/galery-womens-сlothing/7.jpg" alt="foto">
                </a>
            </div>
            <div class="item">
                <a class="fancybox" rel="galery-womens-сlothing" href="./images/galery-womens-сlothing/8.jpg">
                    <img class="lazyOwl" data-src="./images/galery-womens-сlothing/8.jpg" alt="foto">
                </a>
            </div>
            <div class="item">
                <a class="fancybox" rel="galery-womens-сlothing" href="./images/galery-womens-сlothing/9.jpg">
                    <img class="lazyOwl" data-src="./images/galery-womens-сlothing/9.jpg" alt="foto">
                </a>
            </div>
            <div class="item">
                <a class="fancybox" rel="galery-womens-сlothing" href="./images/galery-womens-сlothing/10.jpg">
                    <img class="lazyOwl" data-src="./images/galery-womens-сlothing/10.jpg" alt="foto">
                </a>
            </div>
            <div class="item">
                <a class="fancybox" rel="galery-womens-сlothing" href="./images/galery-womens-сlothing/11.jpg">
                    <img class="lazyOwl" data-src="./images/galery-womens-сlothing/11.jpg" alt="foto">
                </a>
            </div>
            <div class="item">
                <a class="fancybox" rel="galery-womens-сlothing" href="./images/galery-womens-сlothing/12.jpg">
                    <img class="lazyOwl" data-src="./images/galery-womens-сlothing/12.jpg" alt="foto">
                </a>
            </div>
            <div class="item">
                <a class="fancybox" rel="galery-womens-сlothing" href="./images/galery-womens-сlothing/13.jpg">
                    <img class="lazyOwl" data-src="./images/galery-womens-сlothing/13.jpg" alt="foto">
                </a>
            </div>
        </div>
    </div>
    <div class="content__text">
        <div class="content__title">Женская одежда</div>
        <div class="content__desc">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fugit nemo voluptatem sequi doloribus beatae provident, molestias, illum, molestiae tenetur nesciunt! Sunt autem quo, reiciendis accusamus id deleniti ullam doloremque!
            </p>
        </div>
                <!-- <div class="content__more">
                    <a class="content__link" href="#">сделать заказ</a>
                </div> -->
            </div>
        </div>


    </div>
</div>
