<div class="media">
	<h1>
		<span class="content__head">Галерея</span>
	</h1>
	<div class="media__card">
		<a href="./images/galery/outerwear/1.jpg">
			<div class="media__img">
				<img src="./images/galery/outerwear/1-small.jpg" alt="foto">
			</div>
			<div class="media__title">Платье Бордо</div>
		</a>
	</div>
	<div class="media__card">
		<a href="./images/galery/outerwear/3.jpg">
			<div class="media__img">
				<img src="./images/galery/outerwear/3-small.jpg" alt="foto">
			</div>
			<div class="media__title">жакет индиго</div>
		</a>
	</div>
	<div class="media__card">
		<a href="./images/galery/outerwear/2.jpg">
			<div class="media__img">
				<img src="./images/galery/outerwear/2-small.jpg" alt="foto">
			</div>
			<div class="media__title">куртка питон</div>
		</a>
	</div>
	<div class="media__card">
		<a href="#">
			<div class="media__img">
				<img src="./images/gallery.jpg" alt="foto">
			</div>
			<div class="media__title">коллекция1</div>
		</a>
	</div>
	<div class="media__card">
		<a href="#">
			<div class="media__img">
				<img src="./images/gallery.jpg" alt="foto">
			</div>
			<div class="media__title">коллекция1</div>
		</a>
	</div>
	<div class="media__card">
		<a href="#">
			<div class="media__img">
				<img src="./images/gallery.jpg" alt="foto">
			</div>
			<div class="media__title">коллекция1</div>
		</a>
	</div>
	<div class="media__card">
		<a href="#">
			<div class="media__img">
				<img src="./images/gallery.jpg" alt="foto">
			</div>
			<div class="media__title">коллекция1</div>
		</a>
	</div>
	<div class="media__card">
		<a href="#">
			<div class="media__img">
				<img src="./images/gallery.jpg" alt="foto">
			</div>
			<div class="media__title">коллекция1</div>
		</a>
	</div>
	<div class="media__card">
		<a href="#">
			<div class="media__img">
				<img src="./images/gallery.jpg" alt="foto">
			</div>
			<div class="media__title">коллекция1</div>
		</a>
	</div>
</div>